<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div>
        <div>Benefits Portal Login</div>
       
        <span class="emptyRow"></span>
        <input type="email" id="username" name="username" ngModel  placeholder="User Name" required autofocus>
        <span class="emptyRow"></span>
        <input type="password" id="password" name="password" ngModel  placeholder="Password" required>
        <span class="emptyRow"></span>
        <span class="emptyRow"></span>
        <button type="submit">Sign In</button>
        <span class="emptyRow"></span>
        <span class="emptyRow"></span>
        <div *ngIf="invalidLogin" style="font-size: 12px;color:red;">Invalid username or password.</div>
    </div>
</form>