<div>
    <br />

    <div>Estimate Your Benefit Cost</div>
    <br />
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

        <div style="font-weight: bold;">Employee Information</div>
        <br />
        <label>
            First Name:
            <input type="text" formControlName="firstName" required>
        </label>

        <label>
            Last Name:
            <input type="text" formControlName="lastName" required>
        </label>

        <br />
        <br />


        <br />
        <div formArrayName="dependents">
            <span style="font-weight: bold;">Dependent Information</span>&nbsp;<button (click)="addDependent()">Add
                Dependent</button>

            <br />
            <br />

            <div *ngFor="let dependent of dependents.controls; let i=index">
                <!-- The repeated alias template -->
                <div [formGroupName]="i">
                    <label>
                        First Name:
                        <input type="text" formControlName="dependentFirstName" required>
                    </label>

                    <label>
                        Last Name:
                        <input type="text" formControlName="dependentLastName" required>
                    </label>
                </div>
                <br/>
            </div>
        </div>

        

        <button type="submit" [disabled]="!profileForm.valid">Submit</button>

    </form>

</div>

<p>
    Form Value: {{ profileForm.value | json }}
</p>


<p>
    Form Status: {{ profileForm.status }}
</p>