

<div>
    <span class="emptyRow"></span>

    <div style="font-weight:bold;">Estimate Your Benefit Cost</div>
    <span class="emptyRow"></span>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

        <div style="font-style:italic">Employee Information</div>
        <span class="emptyRow"></span>

      
        <mat-form-field class="full">
            <input matInput placeholder="First Name" formControlName="firstName" type="text" style="margin:10px;">
        </mat-form-field>

        <span style="margin-left:100px"></span>

        <mat-form-field class="full">
            <input matInput placeholder="Last Name" formControlName="lastName" type="text" style="margin:10px;">
        </mat-form-field>
        
        <span class="emptyRow"></span>

        <div formArrayName="dependents">
            <span style="font-style:italic"> Dependent Information</span>
            
            <span style="margin:10px"></span>
            
            <button (click)="addDependent()">Add Dependent</button>


            <span class="emptyRow"></span>

            <span class="emptyRow"></span>


            <div *ngFor="let dependent of dependents.controls; let i=index">
                <!-- The repeated alias template -->
                <div [formGroupName]="i">

                    <mat-form-field class="full">
                        <input matInput placeholder="Dependent First Name" formControlName="firstName" type="text" style="margin:10px;">
                    </mat-form-field>

                    <span style="margin-left:100px"></span>

                    <mat-form-field class="full">
                        <input matInput placeholder="Dependent Last Name" formControlName="lastName" type="text" style="margin:10px;">
                    </mat-form-field>

                    <span style="margin-left:50px"></span>

                    <button mat-raised-button color="warn" (click)="deleteDependentRow(i)">Delete</button>

                    <div style="padding-top: 10px;"></div>

                </div>
            </div>
            
            
        </div>


        <button type="submit" mat-button color="primary" type="submit" [disabled]="!profileForm.valid" style="margin:10px;">Calculate</button>



        

    </form>

</div>

<p [style.display]="calculatedValue === 0 ? 'none' : 'block'">
    Your Benefits Cost: {{ calculatedValue | currency }}
</p>

<!-- <p>
    Form Value: {{ profileForm.value | json }}
</p>


<p>
    Form Status: {{ profileForm.status }}
</p> -->